root={{ clamav_alerting_root }}
mailhub={{ clamav_alerting_mailhub }}
AuthUser={{ clamav_alerting_AuthUser }}
AuthPass={{ clamav_alerting_AuthPass }}
UseTLS={{ clamav_alerting_UseTLS }}
AuthMethod={{ clamav_alerting_AuthMethod }}
RewriteDomain={{ clamav_alerting_RewriteDomain }}
Hostname={{ clamav_alerting_Hostname }}
FromLineOverride={{ clamav_alerting_FromLineOverride }}
